# =========================
# Python Cache
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environments
# =========================
venv/
env/
ENV/
.venv/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# IDE / Editor Settings
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# Testing / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Temporary Files
# =========================
*.tmp
*.temp


# =========================
# Dataset Files 
# =========================
data/*.csv

# =========================
# Mac/Linux Hidden Files
# =========================
*.swp
*.swo